/*------------------ HEADER ---------------*/
body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
} 

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}
/*------------------ Logo---------------*/

.header-logo {
    font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
    color: #4d5ae5;
    }

.accent {
    color: #2e2f42;
}

/*------------------Logo ---------------*/


/*------------------- header-menu ---------------*/
.none1 {
    list-style: none;
}

.studio-a {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
} 

.none1 li:first-child a:hover,
.none1 li:first-child a:focus {
    color: #404bbf;
}

.none1 li:nth-child(2) a:hover,
.none1 li:nth-child(2) a:focus {
    color: #404bbf;
}

.none1 li:nth-child(3) a:hover,
.none1 li:nth-child(3) a:focus {
    color: #404bbf;
}


/*------------------- header-menu ---------------*/



/*------------------- header-info ---------------*/

.address-info {
     font-style: normal;
    }


.none2 {
    list-style: none;
}

.info-gmail {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}


.info-number {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.info-gmail:hover,
.info-gmail:focus,
.info-number:hover,
.info-number:focus {
    color: #404bbf;} 


/*------------------- header-info ---------------*/



/*------------------- header-button---------------*/
.background {
    background-color: #2e2f42;
}

.btn-part {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
}

.button-part {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #4d5ae5;
    cursor: pointer;
}


.button-part:hover {
    background-color: #404BBF;
}

.button-part:focus {
    background-color: #404BBF;
}

/*------------------- header-button---------------*/



/*------------------- main-text---------------*/
.nonen {
    list-style: none;
}


.strategy-part {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}


.strategy-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;}

/*------------------- main-text---------------*/

/*------------------- section-ourTeam----------------*/
.backfen {
    background-color: #F4F4FD;
}

.none {
    list-style: none;
}

 .ourteam {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}




.mark {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}

.mark-text {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
}

/*------------------- section-ourTeam----------------*/


/*------------------- section-ourPortfolio----------------*/
.our-p {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize
}

.footer-ladder {
    list-style: none;
}

.our-w {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.ourq-text {

    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/*------------------- section-ourPortfolio----------------*/


/*------------------- section-footer----------------*/

.webstudio {
    font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
        background-color: #2e2f42;
}

.webb-blue {
    color: #f4f4fd;
}

.footer {
font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: var(--text-color, #F4F4FD);
}

/*-------------------section-footer----------------*/

/*------------------ HEADER ---------------*/